<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1 th:text="${recipe.name}">Название рецепта</h1>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Описание</h3>
            <p class="card-text" th:text="${recipe.description}"></p>

            <h3 class="card-title">Ингредиенты</h3>
            <ul class="list-group list-group-flush">
                <li th:each="product : ${recipe.products}" th:text="${product.name}" class="list-group-item"></li>
            </ul>

        </div>

    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="card-title">Отзывы</h3>
            <div th:each="feedback : ${feedbacks}">
                <p><strong th:text="${feedback.user.username}"></strong>: <span th:text="${feedback.comment}"></span>
                </p>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <form method="post" th:action="@{/recipe/{id}/addFeedback(id=${recipe.id})}">
            <textarea class="form-control" name="comment" placeholder="Оставьте ваш отзыв здесь" required></textarea>
            <button class="btn btn-primary mt-2" type="submit">Отправить отзыв</button>
        </form>
    </div>

    <a class="btn btn-primary mt-3" th:href="@{/}">Вернуться на главную</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
